<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlogWSIWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="anHjuO7TGOlA4D+0r85XduqoT5CreoppGRa1Vtvpc57a29w5kGFGkUK0laNuRj+oTcVfUs2NKpg/MiW25CAt8YTCRepMj5YDbZ/bWFEDkvikuhyzrvQRygYoLwmGN/PGWQotQ1K98VvaNG2XWkQykEAvvcRIDrXSEBU3J+L44ZRyYPNoLWXptdPSDLXjISd8RVaLcEMoTun5MuoI4QWxDa4EtI/qUS59"/>
    <add key="ConnectionStringData" value="anHjuO7TGOkxrkJaqkys44ayxm2VFn+x41vGdBmPjs4Gjz/Xrc2BzCWAiDcL4KfoCxXKu+DruNhFTROgz1JMBT0S8e46sKsG88th94wyCPtggfrNBNWDG8f70SekvJIRDsY9AGOed/dsdJ8+uz9qKFuJnj543I5QripLn4ubpohcU5f9vbbOigSMSTvxeipXFcBGJIyeSLNJQFLbLar3FeNlzS/ch5at"/>


    <!--日志存放路径-->
    <add key="LogPath" value="D:\Services\HGOwnerFtp_Up12HZDOWN\log\"/>

    <!--FTP地址-->
    <add key="NSFTPAddress" value="10.0.10.12:2130" />
    <!--FTP地址IP-->
    <add key="NSFTPAddressIP" value="10.0.10.12" />
    <!--FTP地址端口-->
    <add key="NSFTPAddressPort" value="2130" />
    <!--FTP地址用户名-->
    <add key="FtpUserName" value="alog001" />
    <!--FTP地址密码-->
    <add key="FtpPwd" value="alog@2016" />


    <!--报文上传轮询时间间隔（毫秒）-->
    <add key="FtpUpInterval" value="0"/>
    <!--服务器上传文件夹名称-->
    <add key="FtpServiceUpPath" value="/FileTransfer/Workdir/receive11"/>
    <!--报文上传存放路径-->
    <add key="FtpUpPath" value="D:\GZEportExchange\cebouttemp111"/>
    <!--报文上传完成目录路径-->
    <add key="FtpUpPathBak" value="D:\GZEportExchange\cebouttempBAK111\"/>

    <!--下载回执轮询时间间隔（毫秒）-->
    <add key="FtpDownInterval" value="20000"/>
    <!--服务器下载文件夹名称-->
    <add key="FtpServiceDownPath" value="/38_GZ_BBC_GJ/WS_KJSD_XML_Ftp/"/>
    <!--下载回执存放路径-->
    <add key="HZPath" value="D:\GZEportExchange\in\" />
    <!--下载回执备份路径-->
    <add key="HZPathBak" value="D:\Services\HGOwnerFtp_Up12HZDOWN\2\"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
